  /* The checkbox is hidden, but the label is styled to look like a checkbox */
  input[type="checkbox"] {
    display: none;
  }
  label, button {
    display: block;
    float: left;
    width: min(12em, calc(100vw/2 - 0.8em));
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 0.8em;
    height: 5em;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
  }
  label {
    height: 3em;
    padding-top: 1.5em;
  }
  /* first character of label very big: */
  /* label::first-letter {
    font-size: 3em;
  } */
  /* When the checkbox is checked, the label is styled to look like a checked checkbox */
  input[type="checkbox"]:checked + label {
    background-color: yellow;
    color: black;
  }
  hr { clear: both; }

  .removable-item {
    background: #ffcccc;
    border: 8px solid #ffcccc;
  }
  .carted {
    background: #ffffcc;
  }
  .saving {
    background: #00f000;